.link {
    font-family: "monospace";
    cursor: copy;
}

.link:hover {
    color: #1e70bf;
    text-decoration: none;
}

.on, .off {
    color: red;
    margin-left: 5px;
    transition: opacity .25s ease-in-out;
}

.on {
    opacity: 1.0;
}

.off {
    opacity: 0.0;
}